<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 게시판 관련 SQLㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
<mapper namespace="board">
	
	<!-- 게시판 리스트를 전부 가져옴 -->
	<select id="selectAll" resultType="mybatis.BoardInfo">
		select * from board ORDER BY b_date desc
	</select>
	
	<!-- 작성 게시판글을 DB에 저장 -->
	<insert id="insert" parameterType="mybatis.BoardInfo">
		insert into board
		values(board_seq.nextval,#{b_name},#{b_content},#{b_id}, 0,sysdate)
	</insert>
	
	<!-- 글번호와 같은 레코드를 가져옴 -->
	<select id="selectOne" resultType="mybatis.BoardInfo">
		select * from board where b_num =#{b_num}
	</select>
	
	<!-- 작성되어 있는 게시판글을 Update -->
	<update id="update" parameterType="mybatis.BoardInfo">
		update board set b_name=#{b_name}, b_content=#{b_content}
		where b_num= #{b_num}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="b_countUp" parameterType="mybatis.BoardInfo">
		update board set b_count=b_count+1
		where b_num= #{b_num}
	</update>
	
	<!-- 작성되어 있는 게시판글을 Delete -->
	<delete id="delete" parameterType="mybatis.BoardInfo">
		delete from board where b_num= #{b_num}
	</delete>
</mapper>