<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 공지사항 관련 SQLㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
<mapper namespace="board">
	
	<!-- 게시판 리스트를 전부 가져옴 -->
	<select id="selectAll" resultType="mybatis.BoardInfo">
		select * from board
	</select>
	
	<!-- 작성 게시판글을 DB에 저장 -->
	<insert id="insert" parameterType="mybatis.BoardInfo">
		insert into board
		values(board_seq.nextval,#{b_name},#{b_content},#{b_id}, 0,sysdate)
	</insert>
	
</mapper>