<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 회원 정보관한 SQLㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 아이디 존재 유무 확인하기 위한 SQL -->
	<select id="count" parameterType="String" resultType="int">
		select
		count(*) from users where id= #{id}
	</select>


	<!-- 우편번호 검색시 같은동 찾기 -->
	<select id="selectAllZip" parameterType="String" resultType="mybatis.Zipcode">
		select * from zipcode where area3 like '%'||#{area3}||'%'
	</select>


	<!-- 회원가입 정보를 DB에 insert -->
	<insert id="insert" parameterType="mybatis.LogUserInfo">
		insert into users
		values(#{id}, #{pw},#{name},#{userzipcode},#{address}, #{sex},
		#{ph},
		#{birth}, #{email},0)
	</insert>

	<!-- Users DB 내가 입력한 아이디값 가져와 비교 -->
	<select id="selectOneUser" parameterType="String" resultType="mybatis.LogUserInfo">
		select * from users where id = #{id}
	</select>

	<select id="selectOneManager" parameterType="String" resultType="mybatis.LogUserInfo">
		select * from users where id = 1
	</select>
	
	<update id="update" parameterType="mybatis.LogUserInfo" >
	    update users set
		pw=#{pw}, name=#{name}, userzipcode=#{userzipcode},address=#{address},sex=#{sex},
		ph=#{ph},birth=#{birth},email=#{email}
		where id = #{id}
	</update>
</mapper>
